# dependencies
node_modules
.pnp
.pnp.*

# next / nest build
.next
out
dist
build
coverage

# env / secrets
.env
.env.local
.env*.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
*.log
*.pem
*.tsbuildinfo
next-env.d.ts
.vercel
.turbo
.wwebjs_auth
.wwebjs_cache
session
